@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background-color: #f4f7fb;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}